[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
rich = "*"
tqdm = "*"
rich-click = "*"
"ruamel.yaml" = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

